#第3关：逻辑索引、切片方法，groupby 分组计算函数应用

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Data.xlsx')
print(data)

code =list(data['站点编号'].unique())
print(code)
df1= pd.DataFrame(data)
df1.iloc[:,0]

       站点编号          日期  时刻  进站人数  出站人数
0       155  2015-10-01   7   294  1215
1       155  2015-10-01   8  1128  4067
2       155  2015-10-01   9  1441  3713
3       155  2015-10-01  10  2043  2976
4       155  2015-10-01  11  2678  3198
...     ...         ...  ..   ...   ...
10535   137  2015-10-31  19  5780  2558
10536   137  2015-10-31  20  3390  1930
10537   137  2015-10-31  21  2800  1147
10538   137  2015-10-31  22  2214   805
10539   137  2015-10-31  24   425   647

[10540 rows x 5 columns]
[155, 151, 125, 129, 121, 157, 147, 123, 159, 133, 135, 149, 131, 141, 127, 145, 139, 153, 143, 137]

0        155
1        155
2        155
3        155
4        155
        ...
10535    137
10536    137
10537    137
10538    137
10539    137
Name: 站点编号, Length: 10540, dtype: int64

In [11]:
df1.groupby(['站点编号','进站人数','出站人数']).sum().head(1500)

                时刻
站点编号 进站人数 出站人数
121  0    122   24
          139   24
          148   24
          150   48
          151   48
...             ..
125  832  1103  17
     834  762   11
     837  442    9
     850  693   10
     852  752   14

[1500 rows x 1 columns]

In [13]:
list1=['站点编号','日期']
df1.groupby(list1)['进站人数','出站人数'].sum()

<ipython-input-13-72b3b9aca91c>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1.groupby(list1)['进站人数','出站人数'].sum()

                  进站人数   出站人数
站点编号 日期
121  2015-10-01  20363  14236
     2015-10-02  15797  13070
     2015-10-03  14991  13256
     2015-10-04  14992  14164
     2015-10-05  15228  14430
...                ...    ...
159  2015-10-27  13690  13621
     2015-10-28  14166  13305
     2015-10-29  15394  13196
     2015-10-30  32503  17811
     2015-10-31  36363  33554

[620 rows x 2 columns]

In [30]:
df1.groupby(['站点编号','日期'])

In [33]:
print(df1.groupby(['站点编号','日期']).sum())

                  时刻   进站人数   出站人数
站点编号 日期
121  2015-10-01  256  20363  14236
     2015-10-02  255  15797  13070
     2015-10-03  256  14991  13256
     2015-10-04  256  14992  14164
     2015-10-05  256  15228  14430
...              ...    ...    ...
159  2015-10-27  256  13690  13621
     2015-10-28  256  14166  13305
     2015-10-29  256  15394  13196
     2015-10-30  256  32503  17811
     2015-10-31  256  36363  33554

[620 rows x 3 columns]

In [86]:
df2= df1[['站点编号','日期','进站人数','出站人数']].groupby(['站点编号','日期']).sum()

In [181]:
print(df2)
c=list(df2.index)
print(c)
print(df2.index.get_level_values(1))
print(df2[df2.index.get_level_values(1)<'2015-10-06'])  #多重索引
print(df2[df2.index.get_level_values('日期')<'2015-10-03'])  #多重索引
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)
sat_num=pd.DataFrame({'A1_站点编号':df2.index.get_level_values(0),'A2_日期':df2.index.get_level_values(1),'A3_进站人数':df2['进站人数'].values,   
                        'A4_出站人数':df2['出站人数'].values}) 
print(sat_num.index)

d=sat_num[sat_num.index.get_level_values('A2_日期')<'2015-10-07']
print(d)
D1=d.groupby(['A1_站点编号'])['A3_进站人数','A4_出站人数'].sum() 
sat_num2=pd.DataFrame({'A1_站点编号':list(D1.index),  
                        'A2_进站人数':D1['A3_进站人数'].values,'A3_出站人数':D1['A4_出站人数'].values})

                     进站人数  出站人数
站点编号 日期
121      2015-10-01     20363     14236
         2015-10-02     15797     13070
         2015-10-03     14991     13256
         2015-10-04     14992     14164
         2015-10-05     15228     14430
...                       ...       ...
159      2015-10-27     13690     13621
         2015-10-28     14166     13305
         2015-10-29     15394     13196
         2015-10-30     32503     17811
         2015-10-31     36363     33554

[620 rows x 2 columns]
[(121, '2015-10-01'), (121, '2015-10-02'), (121, '2015-10-03'), (121, '2015-10-04'), (121, '2015-10-05'), (121, '2015-10-06'), (121, '2015-10-07'), (121, '2015-10-08'), (121, '2015-10-09'), (121, '2015-10-10'), (121, '2015-10-11'), (121, '2015-10-12'), (121, '2015-10-13'), (121, '2015-10-14'), (121, '2015-10-15'), (121, '2015-10-16'), (121, '2015-10-17'), (121, '2015-10-18'), (121, '2015-10-19'), (121, '2015-10-20'), (121, '2015-10-21'), (121, '2015-10-22'), (121, '2015-10-23'), (121, '2015-10-24'), (121, '2015-10-25'), (121, '2015-10-26'), (121, '2015-10-27'), (121, '2015-10-28'), (121, '2015-10-29'), (121, '2015-10-30'), (121, '2015-10-31'), (123, '2015-10-01'), (123, '2015-10-02'), (123, '2015-10-03'), (123, '2015-10-04'), (123, '2015-10-05'), (123, '2015-10-06'), (123, '2015-10-07'), (123, '2015-10-08'), (123, '2015-10-09'), (123, '2015-10-10'), (123, '2015-10-11'), (123, '2015-10-12'), (123, '2015-10-13'), (123, '2015-10-14'), (123, '2015-10-15'), (123, '2015-10-16'), (123, '2015-10-17'), (123, '2015-10-18'), (123, '2015-10-19'), (123, '2015-10-20'), (123, '2015-10-21'), (123, '2015-10-22'), (123, '2015-10-23'), (123, '2015-10-24'), (123, '2015-10-25'), (123, '2015-10-26'), (123, '2015-10-27'), (123, '2015-10-28'), (123, '2015-10-29'), (123, '2015-10-30'), (123, '2015-10-31'), (125, '2015-10-01'), (125, '2015-10-02'), (125, '2015-10-03'), (125, '2015-10-04'), (125, '2015-10-05'), (125, '2015-10-06'), (125, '2015-10-07'), (125, '2015-10-08'), (125, '2015-10-09'), (125, '2015-10-10'), (125, '2015-10-11'), (125, '2015-10-12'), (125, '2015-10-13'), (125, '2015-10-14'), (125, '2015-10-15'), (125, '2015-10-16'), (125, '2015-10-17'), (125, '2015-10-18'), (125, '2015-10-19'), (125, '2015-10-20'), (125, '2015-10-21'), (125, '2015-10-22'), (125, '2015-10-23'), (125, '2015-10-24'), (125, '2015-10-25'), (125, '2015-10-26'), (125, '2015-10-27'), (125, '2015-10-28'), (125, '2015-10-29'), (125, '2015-10-30'), (125, '2015-10-31'), (127, '2015-10-01'), (127, '2015-10-02'), (127, '2015-10-03'), (127, '2015-10-04'), (127, '2015-10-05'), (127, '2015-10-06'), (127, '2015-10-07'), (127, '2015-10-08'), (127, '2015-10-09'), (127, '2015-10-10'), (127, '2015-10-11'), (127, '2015-10-12'), (127, '2015-10-13'), (127, '2015-10-14'), (127, '2015-10-15'), (127, '2015-10-16'), (127, '2015-10-17'), (127, '2015-10-18'), (127, '2015-10-19'), (127, '2015-10-20'), (127, '2015-10-21'), (127, '2015-10-22'), (127, '2015-10-23'), (127, '2015-10-24'), (127, '2015-10-25'), (127, '2015-10-26'), (127, '2015-10-27'), (127, '2015-10-28'), (127, '2015-10-29'), (127, '2015-10-30'), (127, '2015-10-31'), (129, '2015-10-01'), (129, '2015-10-02'), (129, '2015-10-03'), (129, '2015-10-04'), (129, '2015-10-05'), (129, '2015-10-06'), (129, '2015-10-07'), (129, '2015-10-08'), (129, '2015-10-09'), (129, '2015-10-10'), (129, '2015-10-11'), (129, '2015-10-12'), (129, '2015-10-13'), (129, '2015-10-14'), (129, '2015-10-15'), (129, '2015-10-16'), (129, '2015-10-17'), (129, '2015-10-18'), (129, '2015-10-19'), (129, '2015-10-20'), (129, '2015-10-21'), (129, '2015-10-22'), (129, '2015-10-23'), (129, '2015-10-24'), (129, '2015-10-25'), (129, '2015-10-26'), (129, '2015-10-27'), (129, '2015-10-28'), (129, '2015-10-29'), (129, '2015-10-30'), (129, '2015-10-31'), (131, '2015-10-01'), (131, '2015-10-02'), (131, '2015-10-03'), (131, '2015-10-04'), (131, '2015-10-05'), (131, '2015-10-06'), (131, '2015-10-07'), (131, '2015-10-08'), (131, '2015-10-09'), (131, '2015-10-10'), (131, '2015-10-11'), (131, '2015-10-12'), (131, '2015-10-13'), (131, '2015-10-14'), (131, '2015-10-15'), (131, '2015-10-16'), (131, '2015-10-17'), (131, '2015-10-18'), (131, '2015-10-19'), (131, '2015-10-20'), (131, '2015-10-21'), (131, '2015-10-22'), (131, '2015-10-23'), (131, '2015-10-24'), (131, '2015-10-25'), (131, '2015-10-26'), (131, '2015-10-27'), (131, '2015-10-28'), (131, '2015-10-29'), (131, '2015-10-30'), (131, '2015-10-31'), (133, '2015-10-01'), (133, '2015-10-02'), (133, '2015-10-03'), (133, '2015-10-04'), (133, '2015-10-05'), (133, '2015-10-06'), (133, '2015-10-07'), (133, '2015-10-08'), (133, '2015-10-09'), (133, '2015-10-10'), (133, '2015-10-11'), (133, '2015-10-12'), (133, '2015-10-13'), (133, '2015-10-14'), (133, '2015-10-15'), (133, '2015-10-16'), (133, '2015-10-17'), (133, '2015-10-18'), (133, '2015-10-19'), (133, '2015-10-20'), (133, '2015-10-21'), (133, '2015-10-22'), (133, '2015-10-23'), (133, '2015-10-24'), (133, '2015-10-25'), (133, '2015-10-26'), (133, '2015-10-27'), (133, '2015-10-28'), (133, '2015-10-29'), (133, '2015-10-30'), (133, '2015-10-31'), (135, '2015-10-01'), (135, '2015-10-02'), (135, '2015-10-03'), (135, '2015-10-04'), (135, '2015-10-05'), (135, '2015-10-06'), (135, '2015-10-07'), (135, '2015-10-08'), (135, '2015-10-09'), (135, '2015-10-10'), (135, '2015-10-11'), (135, '2015-10-12'), (135, '2015-10-13'), (135, '2015-10-14'), (135, '2015-10-15'), (135, '2015-10-16'), (135, '2015-10-17'), (135, '2015-10-18'), (135, '2015-10-19'), (135, '2015-10-20'), (135, '2015-10-21'), (135, '2015-10-22'), (135, '2015-10-23'), (135, '2015-10-24'), (135, '2015-10-25'), (135, '2015-10-26'), (135, '2015-10-27'), (135, '2015-10-28'), (135, '2015-10-29'), (135, '2015-10-30'), (135, '2015-10-31'), (137, '2015-10-01'), (137, '2015-10-02'), (137, '2015-10-03'), (137, '2015-10-04'), (137, '2015-10-05'), (137, '2015-10-06'), (137, '2015-10-07'), (137, '2015-10-08'), (137, '2015-10-09'), (137, '2015-10-10'), (137, '2015-10-11'), (137, '2015-10-12'), (137, '2015-10-13'), (137, '2015-10-14'), (137, '2015-10-15'), (137, '2015-10-16'), (137, '2015-10-17'), (137, '2015-10-18'), (137, '2015-10-19'), (137, '2015-10-20'), (137, '2015-10-21'), (137, '2015-10-22'), (137, '2015-10-23'), (137, '2015-10-24'), (137, '2015-10-25'), (137, '2015-10-26'), (137, '2015-10-27'), (137, '2015-10-28'), (137, '2015-10-29'), (137, '2015-10-30'), (137, '2015-10-31'), (139, '2015-10-01'), (139, '2015-10-02'), (139, '2015-10-03'), (139, '2015-10-04'), (139, '2015-10-05'), (139, '2015-10-06'), (139, '2015-10-07'), (139, '2015-10-08'), (139, '2015-10-09'), (139, '2015-10-10'), (139, '2015-10-11'), (139, '2015-10-12'), (139, '2015-10-13'), (139, '2015-10-14'), (139, '2015-10-15'), (139, '2015-10-16'), (139, '2015-10-17'), (139, '2015-10-18'), (139, '2015-10-19'), (139, '2015-10-20'), (139, '2015-10-21'), (139, '2015-10-22'), (139, '2015-10-23'), (139, '2015-10-24'), (139, '2015-10-25'), (139, '2015-10-26'), (139, '2015-10-27'), (139, '2015-10-28'), (139, '2015-10-29'), (139, '2015-10-30'), (139, '2015-10-31'), (141, '2015-10-01'), (141, '2015-10-02'), (141, '2015-10-03'), (141, '2015-10-04'), (141, '2015-10-05'), (141, '2015-10-06'), (141, '2015-10-07'), (141, '2015-10-08'), (141, '2015-10-09'), (141, '2015-10-10'), (141, '2015-10-11'), (141, '2015-10-12'), (141, '2015-10-13'), (141, '2015-10-14'), (141, '2015-10-15'), (141, '2015-10-16'), (141, '2015-10-17'), (141, '2015-10-18'), (141, '2015-10-19'), (141, '2015-10-20'), (141, '2015-10-21'), (141, '2015-10-22'), (141, '2015-10-23'), (141, '2015-10-24'), (141, '2015-10-25'), (141, '2015-10-26'), (141, '2015-10-27'), (141, '2015-10-28'), (141, '2015-10-29'), (141, '2015-10-30'), (141, '2015-10-31'), (143, '2015-10-01'), (143, '2015-10-02'), (143, '2015-10-03'), (143, '2015-10-04'), (143, '2015-10-05'), (143, '2015-10-06'), (143, '2015-10-07'), (143, '2015-10-08'), (143, '2015-10-09'), (143, '2015-10-10'), (143, '2015-10-11'), (143, '2015-10-12'), (143, '2015-10-13'), (143, '2015-10-14'), (143, '2015-10-15'), (143, '2015-10-16'), (143, '2015-10-17'), (143, '2015-10-18'), (143, '2015-10-19'), (143, '2015-10-20'), (143, '2015-10-21'), (143, '2015-10-22'), (143, '2015-10-23'), (143, '2015-10-24'), (143, '2015-10-25'), (143, '2015-10-26'), (143, '2015-10-27'), (143, '2015-10-28'), (143, '2015-10-29'), (143, '2015-10-30'), (143, '2015-10-31'), (145, '2015-10-01'), (145, '2015-10-02'), (145, '2015-10-03'), (145, '2015-10-04'), (145, '2015-10-05'), (145, '2015-10-06'), (145, '2015-10-07'), (145, '2015-10-08'), (145, '2015-10-09'), (145, '2015-10-10'), (145, '2015-10-11'), (145, '2015-10-12'), (145, '2015-10-13'), (145, '2015-10-14'), (145, '2015-10-15'), (145, '2015-10-16'), (145, '2015-10-17'), (145, '2015-10-18'), (145, '2015-10-19'), (145, '2015-10-20'), (145, '2015-10-21'), (145, '2015-10-22'), (145, '2015-10-23'), (145, '2015-10-24'), (145, '2015-10-25'), (145, '2015-10-26'), (145, '2015-10-27'), (145, '2015-10-28'), (145, '2015-10-29'), (145, '2015-10-30'), (145, '2015-10-31'), (147, '2015-10-01'), (147, '2015-10-02'), (147, '2015-10-03'), (147, '2015-10-04'), (147, '2015-10-05'), (147, '2015-10-06'), (147, '2015-10-07'), (147, '2015-10-08'), (147, '2015-10-09'), (147, '2015-10-10'), (147, '2015-10-11'), (147, '2015-10-12'), (147, '2015-10-13'), (147, '2015-10-14'), (147, '2015-10-15'), (147, '2015-10-16'), (147, '2015-10-17'), (147, '2015-10-18'), (147, '2015-10-19'), (147, '2015-10-20'), (147, '2015-10-21'), (147, '2015-10-22'), (147, '2015-10-23'), (147, '2015-10-24'), (147, '2015-10-25'), (147, '2015-10-26'), (147, '2015-10-27'), (147, '2015-10-28'), (147, '2015-10-29'), (147, '2015-10-30'), (147, '2015-10-31'), (149, '2015-10-01'), (149, '2015-10-02'), (149, '2015-10-03'), (149, '2015-10-04'), (149, '2015-10-05'), (149, '2015-10-06'), (149, '2015-10-07'), (149, '2015-10-08'), (149, '2015-10-09'), (149, '2015-10-10'), (149, '2015-10-11'), (149, '2015-10-12'), (149, '2015-10-13'), (149, '2015-10-14'), (149, '2015-10-15'), (149, '2015-10-16'), (149, '2015-10-17'), (149, '2015-10-18'), (149, '2015-10-19'), (149, '2015-10-20'), (149, '2015-10-21'), (149, '2015-10-22'), (149, '2015-10-23'), (149, '2015-10-24'), (149, '2015-10-25'), (149, '2015-10-26'), (149, '2015-10-27'), (149, '2015-10-28'), (149, '2015-10-29'), (149, '2015-10-30'), (149, '2015-10-31'), (151, '2015-10-01'), (151, '2015-10-02'), (151, '2015-10-03'), (151, '2015-10-04'), (151, '2015-10-05'), (151, '2015-10-06'), (151, '2015-10-07'), (151, '2015-10-08'), (151, '2015-10-09'), (151, '2015-10-10'), (151, '2015-10-11'), (151, '2015-10-12'), (151, '2015-10-13'), (151, '2015-10-14'), (151, '2015-10-15'), (151, '2015-10-16'), (151, '2015-10-17'), (151, '2015-10-18'), (151, '2015-10-19'), (151, '2015-10-20'), (151, '2015-10-21'), (151, '2015-10-22'), (151, '2015-10-23'), (151, '2015-10-24'), (151, '2015-10-25'), (151, '2015-10-26'), (151, '2015-10-27'), (151, '2015-10-28'), (151, '2015-10-29'), (151, '2015-10-30'), (151, '2015-10-31'), (153, '2015-10-01'), (153, '2015-10-02'), (153, '2015-10-03'), (153, '2015-10-04'), (153, '2015-10-05'), (153, '2015-10-06'), (153, '2015-10-07'), (153, '2015-10-08'), (153, '2015-10-09'), (153, '2015-10-10'), (153, '2015-10-11'), (153, '2015-10-12'), (153, '2015-10-13'), (153, '2015-10-14'), (153, '2015-10-15'), (153, '2015-10-16'), (153, '2015-10-17'), (153, '2015-10-18'), (153, '2015-10-19'), (153, '2015-10-20'), (153, '2015-10-21'), (153, '2015-10-22'), (153, '2015-10-23'), (153, '2015-10-24'), (153, '2015-10-25'), (153, '2015-10-26'), (153, '2015-10-27'), (153, '2015-10-28'), (153, '2015-10-29'), (153, '2015-10-30'), (153, '2015-10-31'), (155, '2015-10-01'), (155, '2015-10-02'), (155, '2015-10-03'), (155, '2015-10-04'), (155, '2015-10-05'), (155, '2015-10-06'), (155, '2015-10-07'), (155, '2015-10-08'), (155, '2015-10-09'), (155, '2015-10-10'), (155, '2015-10-11'), (155, '2015-10-12'), (155, '2015-10-13'), (155, '2015-10-14'), (155, '2015-10-15'), (155, '2015-10-16'), (155, '2015-10-17'), (155, '2015-10-18'), (155, '2015-10-19'), (155, '2015-10-20'), (155, '2015-10-21'), (155, '2015-10-22'), (155, '2015-10-23'), (155, '2015-10-24'), (155, '2015-10-25'), (155, '2015-10-26'), (155, '2015-10-27'), (155, '2015-10-28'), (155, '2015-10-29'), (155, '2015-10-30'), (155, '2015-10-31'), (157, '2015-10-01'), (157, '2015-10-02'), (157, '2015-10-03'), (157, '2015-10-04'), (157, '2015-10-05'), (157, '2015-10-06'), (157, '2015-10-07'), (157, '2015-10-08'), (157, '2015-10-09'), (157, '2015-10-10'), (157, '2015-10-11'), (157, '2015-10-12'), (157, '2015-10-13'), (157, '2015-10-14'), (157, '2015-10-15'), (157, '2015-10-16'), (157, '2015-10-17'), (157, '2015-10-18'), (157, '2015-10-19'), (157, '2015-10-20'), (157, '2015-10-21'), (157, '2015-10-22'), (157, '2015-10-23'), (157, '2015-10-24'), (157, '2015-10-25'), (157, '2015-10-26'), (157, '2015-10-27'), (157, '2015-10-28'), (157, '2015-10-29'), (157, '2015-10-30'), (157, '2015-10-31'), (159, '2015-10-01'), (159, '2015-10-02'), (159, '2015-10-03'), (159, '2015-10-04'), (159, '2015-10-05'), (159, '2015-10-06'), (159, '2015-10-07'), (159, '2015-10-08'), (159, '2015-10-09'), (159, '2015-10-10'), (159, '2015-10-11'), (159, '2015-10-12'), (159, '2015-10-13'), (159, '2015-10-14'), (159, '2015-10-15'), (159, '2015-10-16'), (159, '2015-10-17'), (159, '2015-10-18'), (159, '2015-10-19'), (159, '2015-10-20'), (159, '2015-10-21'), (159, '2015-10-22'), (159, '2015-10-23'), (159, '2015-10-24'), (159, '2015-10-25'), (159, '2015-10-26'), (159, '2015-10-27'), (159, '2015-10-28'), (159, '2015-10-29'), (159, '2015-10-30'), (159, '2015-10-31')]
Index(['2015-10-01', '2015-10-02', '2015-10-03', '2015-10-04', '2015-10-05',
       '2015-10-06', '2015-10-07', '2015-10-08', '2015-10-09', '2015-10-10',
       ...
       '2015-10-22', '2015-10-23', '2015-10-24', '2015-10-25', '2015-10-26',
       '2015-10-27', '2015-10-28', '2015-10-29', '2015-10-30', '2015-10-31'],
      dtype='object', name='日期', length=620)
                     进站人数  出站人数
站点编号 日期
121      2015-10-01     20363     14236
         2015-10-02     15797     13070
         2015-10-03     14991     13256
         2015-10-04     14992     14164
         2015-10-05     15228     14430
...                       ...       ...
159      2015-10-01     37017     18720
         2015-10-02     20842     15803
         2015-10-03     17294     15510
         2015-10-04     15433     14823
         2015-10-05     16238     20007

[100 rows x 2 columns]
                     进站人数  出站人数
站点编号 日期
121      2015-10-01     20363     14236
         2015-10-02     15797     13070
123      2015-10-01      6429      4359
         2015-10-02      4462      3831
125      2015-10-01     10605     14847
         2015-10-02      8693     10594
127      2015-10-01     12623      9392
         2015-10-02      9531      8006
129      2015-10-01      7003      6300
         2015-10-02      6036      5872
131      2015-10-01      7485      6403
         2015-10-02      6453      5845
133      2015-10-01      9233      8600
         2015-10-02      7421      7300
135      2015-10-01     31556     45657
         2015-10-02     23630     32207
137      2015-10-01     43818     49369
         2015-10-02     35469     35398
139      2015-10-01     11527     11182
         2015-10-02     10890      9796
141      2015-10-01     16717     16632
         2015-10-02     14364     14240
143      2015-10-01      9343      9030
         2015-10-02      7584      7538
145      2015-10-01      8702      6987
         2015-10-02      6707      5714
147      2015-10-01      7514      7347
         2015-10-02      7243      7326
149      2015-10-01      7558      6764
         2015-10-02      6094      5396
151      2015-10-01      5330      4233
         2015-10-02      4246      3832
153      2015-10-01      8446      6376
         2015-10-02      6391      5742
155      2015-10-01     26908     34900
         2015-10-02     21885     25095
157      2015-10-01      1240       331
         2015-10-02       246       277
159      2015-10-01     37017     18720
         2015-10-02     20842     15803
RangeIndex(start=0, stop=620, step=1)

KeyError: 'Requested level (A2_日期) does not match index name (None)'

In [45]:
c=list(df2.index)
c

[(121, '2015-10-01'),
 (121, '2015-10-02'),
 (121, '2015-10-03'),
 (121, '2015-10-04'),
 (121, '2015-10-05'),
 (121, '2015-10-06'),
 (121, '2015-10-07'),
 (121, '2015-10-08'),
 (121, '2015-10-09'),
 (121, '2015-10-10'),
 (121, '2015-10-11'),
 (121, '2015-10-12'),
 (121, '2015-10-13'),
 (121, '2015-10-14'),
 (121, '2015-10-15'),
 (121, '2015-10-16'),
 (121, '2015-10-17'),
 (121, '2015-10-18'),
 (121, '2015-10-19'),
 (121, '2015-10-20'),
 (121, '2015-10-21'),
 (121, '2015-10-22'),
 (121, '2015-10-23'),
 (121, '2015-10-24'),
 (121, '2015-10-25'),
 (121, '2015-10-26'),
 (121, '2015-10-27'),
 (121, '2015-10-28'),
 (121, '2015-10-29'),
 (121, '2015-10-30'),
 (121, '2015-10-31'),
 (123, '2015-10-01'),
 (123, '2015-10-02'),
 (123, '2015-10-03'),
 (123, '2015-10-04'),
 (123, '2015-10-05'),
 (123, '2015-10-06'),
 (123, '2015-10-07'),
 (123, '2015-10-08'),
 (123, '2015-10-09'),
 (123, '2015-10-10'),
 (123, '2015-10-11'),
 (123, '2015-10-12'),
 (123, '2015-10-13'),
 (123, '2015-10-14'),
 (123, '2015-10-15'),
 (123, '2015-10-16'),
 (123, '2015-10-17'),
 (123, '2015-10-18'),
 (123, '2015-10-19'),
 (123, '2015-10-20'),
 (123, '2015-10-21'),
 (123, '2015-10-22'),
 (123, '2015-10-23'),
 (123, '2015-10-24'),
 (123, '2015-10-25'),
 (123, '2015-10-26'),
 (123, '2015-10-27'),
 (123, '2015-10-28'),
 (123, '2015-10-29'),
 (123, '2015-10-30'),
 (123, '2015-10-31'),
 (125, '2015-10-01'),
 (125, '2015-10-02'),
 (125, '2015-10-03'),
 (125, '2015-10-04'),
 (125, '2015-10-05'),
 (125, '2015-10-06'),
 (125, '2015-10-07'),
 (125, '2015-10-08'),
 (125, '2015-10-09'),
 (125, '2015-10-10'),
 (125, '2015-10-11'),
 (125, '2015-10-12'),
 (125, '2015-10-13'),
 (125, '2015-10-14'),
 (125, '2015-10-15'),
 (125, '2015-10-16'),
 (125, '2015-10-17'),
 (125, '2015-10-18'),
 (125, '2015-10-19'),
 (125, '2015-10-20'),
 (125, '2015-10-21'),
 (125, '2015-10-22'),
 (125, '2015-10-23'),
 (125, '2015-10-24'),
 (125, '2015-10-25'),
 (125, '2015-10-26'),
 (125, '2015-10-27'),
 (125, '2015-10-28'),
 (125, '2015-10-29'),
 (125, '2015-10-30'),
 (125, '2015-10-31'),
 (127, '2015-10-01'),
 (127, '2015-10-02'),
 (127, '2015-10-03'),
 (127, '2015-10-04'),
 (127, '2015-10-05'),
 (127, '2015-10-06'),
 (127, '2015-10-07'),
 (127, '2015-10-08'),
 (127, '2015-10-09'),
 (127, '2015-10-10'),
 (127, '2015-10-11'),
 (127, '2015-10-12'),
 (127, '2015-10-13'),
 (127, '2015-10-14'),
 (127, '2015-10-15'),
 (127, '2015-10-16'),
 (127, '2015-10-17'),
 (127, '2015-10-18'),
 (127, '2015-10-19'),
 (127, '2015-10-20'),
 (127, '2015-10-21'),
 (127, '2015-10-22'),
 (127, '2015-10-23'),
 (127, '2015-10-24'),
 (127, '2015-10-25'),
 (127, '2015-10-26'),
 (127, '2015-10-27'),
 (127, '2015-10-28'),
 (127, '2015-10-29'),
 (127, '2015-10-30'),
 (127, '2015-10-31'),
 (129, '2015-10-01'),
 (129, '2015-10-02'),
 (129, '2015-10-03'),
 (129, '2015-10-04'),
 (129, '2015-10-05'),
 (129, '2015-10-06'),
 (129, '2015-10-07'),
 (129, '2015-10-08'),
 (129, '2015-10-09'),
 (129, '2015-10-10'),
 (129, '2015-10-11'),
 (129, '2015-10-12'),
 (129, '2015-10-13'),
 (129, '2015-10-14'),
 (129, '2015-10-15'),
 (129, '2015-10-16'),
 (129, '2015-10-17'),
 (129, '2015-10-18'),
 (129, '2015-10-19'),
 (129, '2015-10-20'),
 (129, '2015-10-21'),
 (129, '2015-10-22'),
 (129, '2015-10-23'),
 (129, '2015-10-24'),
 (129, '2015-10-25'),
 (129, '2015-10-26'),
 (129, '2015-10-27'),
 (129, '2015-10-28'),
 (129, '2015-10-29'),
 (129, '2015-10-30'),
 (129, '2015-10-31'),
 (131, '2015-10-01'),
 (131, '2015-10-02'),
 (131, '2015-10-03'),
 (131, '2015-10-04'),
 (131, '2015-10-05'),
 (131, '2015-10-06'),
 (131, '2015-10-07'),
 (131, '2015-10-08'),
 (131, '2015-10-09'),
 (131, '2015-10-10'),
 (131, '2015-10-11'),
 (131, '2015-10-12'),
 (131, '2015-10-13'),
 (131, '2015-10-14'),
 (131, '2015-10-15'),
 (131, '2015-10-16'),
 (131, '2015-10-17'),
 (131, '2015-10-18'),
 (131, '2015-10-19'),
 (131, '2015-10-20'),
 (131, '2015-10-21'),
 (131, '2015-10-22'),
 (131, '2015-10-23'),
 (131, '2015-10-24'),
 (131, '2015-10-25'),
 (131, '2015-10-26'),
 (131, '2015-10-27'),
 (131, '2015-10-28'),
 (131, '2015-10-29'),
 (131, '2015-10-30'),
 (131, '2015-10-31'),
 (133, '2015-10-01'),
 (133, '2015-10-02'),
 (133, '2015-10-03'),
 (133, '2015-10-04'),
 (133, '2015-10-05'),
 (133, '2015-10-06'),
 (133, '2015-10-07'),
 (133, '2015-10-08'),
 (133, '2015-10-09'),
 (133, '2015-10-10'),
 (133, '2015-10-11'),
 (133, '2015-10-12'),
 (133, '2015-10-13'),
 (133, '2015-10-14'),
 (133, '2015-10-15'),
 (133, '2015-10-16'),
 (133, '2015-10-17'),
 (133, '2015-10-18'),
 (133, '2015-10-19'),
 (133, '2015-10-20'),
 (133, '2015-10-21'),
 (133, '2015-10-22'),
 (133, '2015-10-23'),
 (133, '2015-10-24'),
 (133, '2015-10-25'),
 (133, '2015-10-26'),
 (133, '2015-10-27'),
 (133, '2015-10-28'),
 (133, '2015-10-29'),
 (133, '2015-10-30'),
 (133, '2015-10-31'),
 (135, '2015-10-01'),
 (135, '2015-10-02'),
 (135, '2015-10-03'),
 (135, '2015-10-04'),
 (135, '2015-10-05'),
 (135, '2015-10-06'),
 (135, '2015-10-07'),
 (135, '2015-10-08'),
 (135, '2015-10-09'),
 (135, '2015-10-10'),
 (135, '2015-10-11'),
 (135, '2015-10-12'),
 (135, '2015-10-13'),
 (135, '2015-10-14'),
 (135, '2015-10-15'),
 (135, '2015-10-16'),
 (135, '2015-10-17'),
 (135, '2015-10-18'),
 (135, '2015-10-19'),
 (135, '2015-10-20'),
 (135, '2015-10-21'),
 (135, '2015-10-22'),
 (135, '2015-10-23'),
 (135, '2015-10-24'),
 (135, '2015-10-25'),
 (135, '2015-10-26'),
 (135, '2015-10-27'),
 (135, '2015-10-28'),
 (135, '2015-10-29'),
 (135, '2015-10-30'),
 (135, '2015-10-31'),
 (137, '2015-10-01'),
 (137, '2015-10-02'),
 (137, '2015-10-03'),
 (137, '2015-10-04'),
 (137, '2015-10-05'),
 (137, '2015-10-06'),
 (137, '2015-10-07'),
 (137, '2015-10-08'),
 (137, '2015-10-09'),
 (137, '2015-10-10'),
 (137, '2015-10-11'),
 (137, '2015-10-12'),
 (137, '2015-10-13'),
 (137, '2015-10-14'),
 (137, '2015-10-15'),
 (137, '2015-10-16'),
 (137, '2015-10-17'),
 (137, '2015-10-18'),
 (137, '2015-10-19'),
 (137, '2015-10-20'),
 (137, '2015-10-21'),
 (137, '2015-10-22'),
 (137, '2015-10-23'),
 (137, '2015-10-24'),
 (137, '2015-10-25'),
 (137, '2015-10-26'),
 (137, '2015-10-27'),
 (137, '2015-10-28'),
 (137, '2015-10-29'),
 (137, '2015-10-30'),
 (137, '2015-10-31'),
 (139, '2015-10-01'),
 (139, '2015-10-02'),
 (139, '2015-10-03'),
 (139, '2015-10-04'),
 (139, '2015-10-05'),
 (139, '2015-10-06'),
 (139, '2015-10-07'),
 (139, '2015-10-08'),
 (139, '2015-10-09'),
 (139, '2015-10-10'),
 (139, '2015-10-11'),
 (139, '2015-10-12'),
 (139, '2015-10-13'),
 (139, '2015-10-14'),
 (139, '2015-10-15'),
 (139, '2015-10-16'),
 (139, '2015-10-17'),
 (139, '2015-10-18'),
 (139, '2015-10-19'),
 (139, '2015-10-20'),
 (139, '2015-10-21'),
 (139, '2015-10-22'),
 (139, '2015-10-23'),
 (139, '2015-10-24'),
 (139, '2015-10-25'),
 (139, '2015-10-26'),
 (139, '2015-10-27'),
 (139, '2015-10-28'),
 (139, '2015-10-29'),
 (139, '2015-10-30'),
 (139, '2015-10-31'),
 (141, '2015-10-01'),
 (141, '2015-10-02'),
 (141, '2015-10-03'),
 (141, '2015-10-04'),
 (141, '2015-10-05'),
 (141, '2015-10-06'),
 (141, '2015-10-07'),
 (141, '2015-10-08'),
 (141, '2015-10-09'),
 (141, '2015-10-10'),
 (141, '2015-10-11'),
 (141, '2015-10-12'),
 (141, '2015-10-13'),
 (141, '2015-10-14'),
 (141, '2015-10-15'),
 (141, '2015-10-16'),
 (141, '2015-10-17'),
 (141, '2015-10-18'),
 (141, '2015-10-19'),
 (141, '2015-10-20'),
 (141, '2015-10-21'),
 (141, '2015-10-22'),
 (141, '2015-10-23'),
 (141, '2015-10-24'),
 (141, '2015-10-25'),
 (141, '2015-10-26'),
 (141, '2015-10-27'),
 (141, '2015-10-28'),
 (141, '2015-10-29'),
 (141, '2015-10-30'),
 (141, '2015-10-31'),
 (143, '2015-10-01'),
 (143, '2015-10-02'),
 (143, '2015-10-03'),
 (143, '2015-10-04'),
 (143, '2015-10-05'),
 (143, '2015-10-06'),
 (143, '2015-10-07'),
 (143, '2015-10-08'),
 (143, '2015-10-09'),
 (143, '2015-10-10'),
 (143, '2015-10-11'),
 (143, '2015-10-12'),
 (143, '2015-10-13'),
 (143, '2015-10-14'),
 (143, '2015-10-15'),
 (143, '2015-10-16'),
 (143, '2015-10-17'),
 (143, '2015-10-18'),
 (143, '2015-10-19'),
 (143, '2015-10-20'),
 (143, '2015-10-21'),
 (143, '2015-10-22'),
 (143, '2015-10-23'),
 (143, '2015-10-24'),
 (143, '2015-10-25'),
 (143, '2015-10-26'),
 (143, '2015-10-27'),
 (143, '2015-10-28'),
 (143, '2015-10-29'),
 (143, '2015-10-30'),
 (143, '2015-10-31'),
 (145, '2015-10-01'),
 (145, '2015-10-02'),
 (145, '2015-10-03'),
 (145, '2015-10-04'),
 (145, '2015-10-05'),
 (145, '2015-10-06'),
 (145, '2015-10-07'),
 (145, '2015-10-08'),
 (145, '2015-10-09'),
 (145, '2015-10-10'),
 (145, '2015-10-11'),
 (145, '2015-10-12'),
 (145, '2015-10-13'),
 (145, '2015-10-14'),
 (145, '2015-10-15'),
 (145, '2015-10-16'),
 (145, '2015-10-17'),
 (145, '2015-10-18'),
 (145, '2015-10-19'),
 (145, '2015-10-20'),
 (145, '2015-10-21'),
 (145, '2015-10-22'),
 (145, '2015-10-23'),
 (145, '2015-10-24'),
 (145, '2015-10-25'),
 (145, '2015-10-26'),
 (145, '2015-10-27'),
 (145, '2015-10-28'),
 (145, '2015-10-29'),
 (145, '2015-10-30'),
 (145, '2015-10-31'),
 (147, '2015-10-01'),
 (147, '2015-10-02'),
 (147, '2015-10-03'),
 (147, '2015-10-04'),
 (147, '2015-10-05'),
 (147, '2015-10-06'),
 (147, '2015-10-07'),
 (147, '2015-10-08'),
 (147, '2015-10-09'),
 (147, '2015-10-10'),
 (147, '2015-10-11'),
 (147, '2015-10-12'),
 (147, '2015-10-13'),
 (147, '2015-10-14'),
 (147, '2015-10-15'),
 (147, '2015-10-16'),
 (147, '2015-10-17'),
 (147, '2015-10-18'),
 (147, '2015-10-19'),
 (147, '2015-10-20'),
 (147, '2015-10-21'),
 (147, '2015-10-22'),
 (147, '2015-10-23'),
 (147, '2015-10-24'),
 (147, '2015-10-25'),
 (147, '2015-10-26'),
 (147, '2015-10-27'),
 (147, '2015-10-28'),
 (147, '2015-10-29'),
 (147, '2015-10-30'),
 (147, '2015-10-31'),
 (149, '2015-10-01'),
 (149, '2015-10-02'),
 (149, '2015-10-03'),
 (149, '2015-10-04'),
 (149, '2015-10-05'),
 (149, '2015-10-06'),
 (149, '2015-10-07'),
 (149, '2015-10-08'),
 (149, '2015-10-09'),
 (149, '2015-10-10'),
 (149, '2015-10-11'),
 (149, '2015-10-12'),
 (149, '2015-10-13'),
 (149, '2015-10-14'),
 (149, '2015-10-15'),
 (149, '2015-10-16'),
 (149, '2015-10-17'),
 (149, '2015-10-18'),
 (149, '2015-10-19'),
 (149, '2015-10-20'),
 (149, '2015-10-21'),
 (149, '2015-10-22'),
 (149, '2015-10-23'),
 (149, '2015-10-24'),
 (149, '2015-10-25'),
 (149, '2015-10-26'),
 (149, '2015-10-27'),
 (149, '2015-10-28'),
 (149, '2015-10-29'),
 (149, '2015-10-30'),
 (149, '2015-10-31'),
 (151, '2015-10-01'),
 (151, '2015-10-02'),
 (151, '2015-10-03'),
 (151, '2015-10-04'),
 (151, '2015-10-05'),
 (151, '2015-10-06'),
 (151, '2015-10-07'),
 (151, '2015-10-08'),
 (151, '2015-10-09'),
 (151, '2015-10-10'),
 (151, '2015-10-11'),
 (151, '2015-10-12'),
 (151, '2015-10-13'),
 (151, '2015-10-14'),
 (151, '2015-10-15'),
 (151, '2015-10-16'),
 (151, '2015-10-17'),
 (151, '2015-10-18'),
 (151, '2015-10-19'),
 (151, '2015-10-20'),
 (151, '2015-10-21'),
 (151, '2015-10-22'),
 (151, '2015-10-23'),
 (151, '2015-10-24'),
 (151, '2015-10-25'),
 (151, '2015-10-26'),
 (151, '2015-10-27'),
 (151, '2015-10-28'),
 (151, '2015-10-29'),
 (151, '2015-10-30'),
 (151, '2015-10-31'),
 (153, '2015-10-01'),
 (153, '2015-10-02'),
 (153, '2015-10-03'),
 (153, '2015-10-04'),
 (153, '2015-10-05'),
 (153, '2015-10-06'),
 (153, '2015-10-07'),
 (153, '2015-10-08'),
 (153, '2015-10-09'),
 (153, '2015-10-10'),
 (153, '2015-10-11'),
 (153, '2015-10-12'),
 (153, '2015-10-13'),
 (153, '2015-10-14'),
 (153, '2015-10-15'),
 (153, '2015-10-16'),
 (153, '2015-10-17'),
 (153, '2015-10-18'),
 (153, '2015-10-19'),
 (153, '2015-10-20'),
 (153, '2015-10-21'),
 (153, '2015-10-22'),
 (153, '2015-10-23'),
 (153, '2015-10-24'),
 (153, '2015-10-25'),
 (153, '2015-10-26'),
 (153, '2015-10-27'),
 (153, '2015-10-28'),
 (153, '2015-10-29'),
 (153, '2015-10-30'),
 (153, '2015-10-31'),
 (155, '2015-10-01'),
 (155, '2015-10-02'),
 (155, '2015-10-03'),
 (155, '2015-10-04'),
 (155, '2015-10-05'),
 (155, '2015-10-06'),
 (155, '2015-10-07'),
 (155, '2015-10-08'),
 (155, '2015-10-09'),
 (155, '2015-10-10'),
 (155, '2015-10-11'),
 (155, '2015-10-12'),
 (155, '2015-10-13'),
 (155, '2015-10-14'),
 (155, '2015-10-15'),
 (155, '2015-10-16'),
 (155, '2015-10-17'),
 (155, '2015-10-18'),
 (155, '2015-10-19'),
 (155, '2015-10-20'),
 (155, '2015-10-21'),
 (155, '2015-10-22'),
 (155, '2015-10-23'),
 (155, '2015-10-24'),
 (155, '2015-10-25'),
 (155, '2015-10-26'),
 (155, '2015-10-27'),
 (155, '2015-10-28'),
 (155, '2015-10-29'),
 (155, '2015-10-30'),
 (155, '2015-10-31'),
 (157, '2015-10-01'),
 (157, '2015-10-02'),
 (157, '2015-10-03'),
 (157, '2015-10-04'),
 (157, '2015-10-05'),
 (157, '2015-10-06'),
 (157, '2015-10-07'),
 (157, '2015-10-08'),
 (157, '2015-10-09'),
 (157, '2015-10-10'),
 (157, '2015-10-11'),
 (157, '2015-10-12'),
 (157, '2015-10-13'),
 (157, '2015-10-14'),
 (157, '2015-10-15'),
 (157, '2015-10-16'),
 (157, '2015-10-17'),
 (157, '2015-10-18'),
 (157, '2015-10-19'),
 (157, '2015-10-20'),
 (157, '2015-10-21'),
 (157, '2015-10-22'),
 (157, '2015-10-23'),
 (157, '2015-10-24'),
 (157, '2015-10-25'),
 (157, '2015-10-26'),
 (157, '2015-10-27'),
 (157, '2015-10-28'),
 (157, '2015-10-29'),
 (157, '2015-10-30'),
 (157, '2015-10-31'),
 (159, '2015-10-01'),
 (159, '2015-10-02'),
 (159, '2015-10-03'),
 (159, '2015-10-04'),
 (159, '2015-10-05'),
 (159, '2015-10-06'),
 (159, '2015-10-07'),
 (159, '2015-10-08'),
 (159, '2015-10-09'),
 (159, '2015-10-10'),
 (159, '2015-10-11'),
 (159, '2015-10-12'),
 (159, '2015-10-13'),
 (159, '2015-10-14'),
 (159, '2015-10-15'),
 (159, '2015-10-16'),
 (159, '2015-10-17'),
 (159, '2015-10-18'),
 (159, '2015-10-19'),
 (159, '2015-10-20'),
 (159, '2015-10-21'),
 (159, '2015-10-22'),
 (159, '2015-10-23'),
 (159, '2015-10-24'),
 (159, '2015-10-25'),
 (159, '2015-10-26'),
 (159, '2015-10-27'),
 (159, '2015-10-28'),
 (159, '2015-10-29'),
 (159, '2015-10-30'),
 (159, '2015-10-31')]

In [79]:
df1.loc[0:7,:]

   站点编号          日期  时刻  进站人数  出站人数
0   155  2015-10-01   7   294  1215
1   155  2015-10-01   8  1128  4067
2   155  2015-10-01   9  1441  3713
3   155  2015-10-01  10  2043  2976
4   155  2015-10-01  11  2678  3198
5   155  2015-10-01  12  2515  2804
6   155  2015-10-01  13  2313  2396
7   155  2015-10-01  14  1767  2680

In [142]:
df1['日期'].values<'2015-10-07'
df3= df1.iloc[df1['日期'].values<'2015-10-07',:]
df3.loc[:,['站点编号','日期','出站人数','进站人数']]

       站点编号          日期  出站人数  进站人数
0       155  2015-10-01  1215   294
1       155  2015-10-01  4067  1128
2       155  2015-10-01  3713  1441
3       155  2015-10-01  2976  2043
4       155  2015-10-01  3198  2678
...     ...         ...   ...   ...
10110   137  2015-10-06  1982  4345
10111   137  2015-10-06  1436  2523
10112   137  2015-10-06   834  2069
10113   137  2015-10-06   570  1431
10114   137  2015-10-06   190   229

[2040 rows x 4 columns]

In [129]:
df2.columns

Index(['进站人数', '出站人数'], dtype='object')

In [92]:
df1.columns

Index(['站点编号', '日期', '时刻', '进站人数', '出站人数'], dtype='object')

In [95]:
df2.loc[:, '出站人数']

站点编号  日期
121   2015-10-01    14236
      2015-10-02    13070
      2015-10-03    13256
      2015-10-04    14164
      2015-10-05    14430
                    ...
159   2015-10-27    13621
      2015-10-28    13305
      2015-10-29    13196
      2015-10-30    17811
      2015-10-31    33554
Name: 出站人数, Length: 620, dtype: int64

In [99]:
df1.loc[:,'进站人数']

0         294
1        1128
2        1441
3        2043
4        2678
         ...
10535    5780
10536    3390
10537    2800
10538    2214
10539     425
Name: 进站人数, Length: 10540, dtype: int64

In [101]:
df1.index

RangeIndex(start=0, stop=10540, step=1)

In [122]:
df3 =pd.DataFrame(df1,index=df1['站点编号'])

In [123]:
df3

      站点编号          日期  时刻  进站人数  出站人数
站点编号
155    155  2015-10-10   9   519  1942
155    155  2015-10-10   9   519  1942
155    155  2015-10-10   9   519  1942
155    155  2015-10-10   9   519  1942
155    155  2015-10-10   9   519  1942
...    ...         ...  ..   ...   ...
137    155  2015-10-09   8   494  1219
137    155  2015-10-09   8   494  1219
137    155  2015-10-09   8   494  1219
137    155  2015-10-09   8   494  1219
137    155  2015-10-09   8   494  1219

[10540 rows x 5 columns]

In [121]:
df3.drop("站点编号",axis=1)

AttributeError: 'DataFrameGroupBy' object has no attribute 'drop'

In [23]:
import pandas as pd
read =pd.read_excel('Data.xlsx')
read
A1=read['站点编号'].values==135
A2 = read['日期'].values<'2015-10-03'  
A3 = read['时刻'].values>=9  
A4 = read['时刻'].values<=11
data = read.iloc[A1&A2&A3&A4,[0,1,2,3]]
data
zhandian = read.iloc[read['站点编号'].values==135,0:4]
zhandian

      站点编号          日期  时刻  进站人数
5270   135  2015-10-01   7  1499
5271   135  2015-10-01   8  1935
5272   135  2015-10-01   9  2031
5273   135  2015-10-01  10  2572
5274   135  2015-10-01  11  2518
...    ...         ...  ..   ...
5792   135  2015-10-31  19  1447
5793   135  2015-10-31  20  1141
5794   135  2015-10-31  21  1086
5795   135  2015-10-31  22   708
5796   135  2015-10-31  24   114

[527 rows x 4 columns]

In [41]:
read =pd.read_excel('Data.xlsx')

w = read.loc[read['日期']>'2015-10-08']
wend=w['日期'].unique()
wend
wenday=read.loc[read['日期']>'2015-10-08']['日期'].unique()
print(wenday)

['2015-10-09' '2015-10-10' '2015-10-11' '2015-10-12' '2015-10-13'
 '2015-10-14' '2015-10-15' '2015-10-16' '2015-10-17' '2015-10-18'
 '2015-10-19' '2015-10-20' '2015-10-21' '2015-10-22' '2015-10-23'
 '2015-10-24' '2015-10-25' '2015-10-26' '2015-10-27' '2015-10-28'
 '2015-10-29' '2015-10-30' '2015-10-31']

In [48]:
  
for c in wenday:  
    d=read.loc[read['日期'].values == c]  
    df1.append(d)

In [55]:
station = read.iloc[:,0].unique()  
time =read.iloc[:,2].unique()
A1 =[]  
A2 =[]  
A3 =[]  
A4 =[]  
for i in range(len(station)):  
    d1=w.iloc[w['站点编号'].values==station[i],:]  
    for j in range(len(time)):  
        sk = d1['时刻'].unique()  
        if time[j] in sk:  
            jz_sum = d1.iloc[d1['时刻'].values==time[j],3].sum()  
            cz_sum = d1.iloc[d1['时刻'].values==time[j],4].sum()  
            A1.append(station[i])  
            A2.append(time[j])  
            A3.append(jz_sum)  
            A4.append(cz_sum)  
df0=pd.DataFrame({'站点编号':A1,'时刻':A2,'总进站客流':A3,'总出站客流':A4})        
df0.to_excel('各站点各时刻进出站客流数据.xlsx')

In [50]:
df1[0]

       站点编号          日期  时刻  进站人数  出站人数
136     155  2015-10-09   7   122   222
137     155  2015-10-09   8   494  1219
138     155  2015-10-09   9   534  2236
139     155  2015-10-09  10   922  1394
140     155  2015-10-09  11  1814  1206
...     ...         ...  ..   ...   ...
10161   137  2015-10-09  19  2953  2271
10162   137  2015-10-09  20  2020  1325
10163   137  2015-10-09  21  1406   661
10164   137  2015-10-09  22  1310   401
10165   137  2015-10-09  24   157   137

[340 rows x 5 columns]

In [51]:
df1[2]

       站点编号          日期  时刻  进站人数  出站人数
170     155  2015-10-11   7   124   210
171     155  2015-10-11   8   417   869
172     155  2015-10-11   9   637  1350
173     155  2015-10-11  10  1445  1316
174     155  2015-10-11  11  2185  1168
...     ...         ...  ..   ...   ...
10195   137  2015-10-11  19  6111  2113
10196   137  2015-10-11  20  3864  1381
10197   137  2015-10-11  21  2283   746
10198   137  2015-10-11  22  1625   387
10199   137  2015-10-11  24   205   168

[340 rows x 5 columns]

In [56]:
import random  
import pandas as pd  
code=list(range(1,31))  
A=random.sample(code,30)  
s=pd.Series(A,index=code)  
s

1      9
2     20
3     28
4     16
5      3
6     27
7     19
8     15
9     14
10    23
11     7
12    29
13     4
14    26
15    21
16    30
17     1
18     5
19    22
20    13
21    12
22    25
23    11
24    24
25    18
26    17
27     2
28    10
29     6
30     8
dtype: int64

In [58]:
Numbers=[i for i in range(1,31)]#Numbers课程设计编号  
while len(Numbers):  
    Start=input('是否进行抽签(yes or no):' )#确认运行程序的人是否需要进行抽签  
    if Start=='yes':  
        R_max=len(Numbers)#R_max，随机数的最大取值  
        rand_num=random.randint(0,R_max-1)#生成的随机数  
        Draw=Numbers[rand_num]#Draw随机抽取的课程编号  
        Numbers.remove(Draw)#删除每一次抽取的Draw  
        print("您抽取到的课程设计编号为：",Draw)  
    else:  
        print("程序已经结束")  
        break;

是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 26
是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 14
是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 4
是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 20
是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 9
是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 5
是否进行抽签(yes or no):yes
您抽取到的课程设计编号为： 11
是否进行抽签(yes or no):no
程序已经结束

In [62]:
    import random  
    import pandas as pd  
    t1=[]  
    t2=[]  
    t3=[]  
    t4=[]  
    t5=[]  
    for i in range(40):  
        t1.append(random.randint(1,70))  
        t2.append(random.randint(1,80))  
        t3.append(random.randint(1,50))  
        t4.append(random.randint(1,30))  
        t5.append(random.randint(1,20))
    A=pd.DataFrame({'t1':t1,'t2':t2,'t3':t3,'t4':t4,'t5':t5})  
    A

    t1  t2  t3  t4  t5
0   60   2  25  14   7
1    7  67  45  24   1
2   61  14   9  16  19
3   65  57  19  24   9
4   61  21  45  21  15
5   13  28  31   3   8
6   57  40   5   1  20
7   25  42  20   1  10
8   69  23  17  30   6
9   61  24  22   7  14
10  47  76  24   1   4
11  55   4  32  22  20
12  38   3  50   7  10
13  27  46  15  18  18
14  62  68  31  12   9
15  17  78   1  18  16
16  16  75  23  29   4
17  34  67  25  16  18
18  27  16   2  14   2
19  57  73   1   1  11
20  33  66  17  11  19
21  37  47  15  20   3
22   5  65  40   1   1
23  67  47  34   6   8
24  41  46  22  10  20
25  45  67  25  15   5
26  68  66  19   1   3
27  58   7  15  21   5
28   9  58  33  12   8
29  70  65   7   1   2
30  15  60  33  29  20
31  24  53  29  22  10
32  33  65  37  25  13
33  64  20  45  19  19
34  52  71  14  18   3
35  43  62  13  20   6
36  68  77  11  28   8
37  27  55   4  11  15
38  63  73  20   7  14
39  28  36  39  20  17